---
- name: Vars block
  vars:
    pkg_file: "{{ apps_tmpdir.path }}/{{ item.key }}.{{ pkg_ext }}"
    pkg_ext: "{{ 'rpm' if ansible_facts.os_family == 'RedHat' else 'deb' }}"
  when: item.key not in ansible_facts.packages or apps_upgrade | bool
  block:
    - name: "Download package for {{ item.key }}"
      ansible.builtin.get_url:
        url: "{{ item.value }}"
        dest: "{{ pkg_file }}"
        mode: "0644"

    - name: "Install Debian package for {{ item.key }}"
      ansible.builtin.apt:
        deb: "{{ pkg_file }}"
        state: present
      when: ansible_facts.os_family != 'RedHat'

    - name: "Install RedHat package for {{ item.key }}"
      ansible.builtin.dnf:
        name: "{{ pkg_file }}"
        state: present
        disable_gpg_check: true
      when: ansible_facts.os_family == 'RedHat'
